<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @post.id %>
  <strong>Mediaclip_id:</strong>
  <%= @post.mediaclip_id %>
</p>

<script src="http://demo.bbvms.com/launchpad/"></script>

<div id="myPlayerDiv"></div>

<%= link_to 'Back', posts_path %>



<script>

const user = "<%= @user %>" || localStorage.getItem("user_id");
const mediaclipId = "<%= @post.mediaclip_id%>";

const apiUri = "https://jsonplaceholder.typicode.com/users";

let myPlayer = new bluebillywig.Player( `http://demo.bbvms.com/p/default/c/${mediaclipId}.json`, {
  target: document.getElementById("myPlayerDiv"),
  autoPlay: "false"
});

const onEnded = () => {
  fetch(`${apiUri}/${user}`, {
    method: 'PATCH',
    body: JSON.stringify({
      watchedToEnd: mediaclipId,
    }),
    headers: {
      'Content-type': 'application/json; charset=UTF-8',
    },
  })
    .then((response) => response.json())
    .then((json) => console.log(json));
};

const onFourtyPercent = () => {
  fetch(`${apiUri}/${user}`, {
    method: 'PATCH',
    body: JSON.stringify({
      watchedFourtyPercent: mediaclipId,
    }),
    headers: {
      'Content-type': 'application/json; charset=UTF-8',
    },
  })
    .then((response) => response.json())
    .then((json) => console.log(json));

  myPlayer.off('timeupdate');
};

const onTimeupdate = () => {
  let currentTime = myPlayer.getCurrentTime();
  let maxTime = myPlayer.getDuration();

  if (currentTime / maxTime >= 0.4) {
    onFourtyPercent();
  }
}

if (user != null) {
  myPlayer.on('ended', onEnded);
  myPlayer.on('timeupdate', onTimeupdate);
}

myPlayer.play();

</script>
